@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
 
}
.display-flex{
    display: flex;
}
.nav-bar{
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
}
.nav-menu{
    gap: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #424242;
}
.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-contain{
    max-width: 850px;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    color: #727272;
    line-height: 16px;
    margin-bottom: 32px;
}
.btn-primary{
  color: #FFFFFF;
  background-color: #FF900E;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.banner-image{
    width: 100%;
   
}
.teams{
    display: flex;
    align-items: center;
    gap: 73px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.out-features{
    max-width: 537px;
}
#Quick-list{
 font-size: 3rem;
 font-weight: 500;
 color: #727272;
}
.feature-title{
    font-size: 3rem;
        font-weight: bold;
        color: #131313;
}
#Quick-list {
    font-size: 3rem;
    font-weight: 500;
    color: #727272;
}
#Features {
    font-size: 3rem;
    color: #FF900E;
}
.features-descroption{
    font-size: 1rem;
    font-weight:normal ;
    line-height: 26px;
}
@media screen and (max-width:576px){
    .display-flex,
    .teams {
        flex-direction: column;
    }
        .team-image-container {
            
            grid-template-columns: repeat(1, 1fr);
          
        }
}
@media screen and (min-width:576px) and (max-width:992px){
.teams {
        flex-direction: column;
    }
}